{% extends 'base.html.twig' %}

{% block title %}CV &bullet; Hugo Alliaume{% endblock %}

{% block seo %}
    <meta name="description" content="CV de Hugo Alliaume, développeur web full-stack.">
{% endblock %}

{% block main %}
    <main class="container mx-auto p-2 max-w-screen-xl grid grid-cols-1 sm:grid-cols-[256px_1fr] gap-2 sm:gap-4">
        <div class="flex flex-col gap-2 sm:gap-4">
            <twig:Card class="p-2 sm:p-4 flex">
                <div class="flex-1 flex flex-col justify-between gap-2">
                    <img
                        src="{{ asset('images/hugo-alliaume.jpeg') }}"
                        width="130"
                        height="130"
                        decoding="async"
                        loading="lazy"
                        alt="Hugo Alliaume"
                        class="rounded-full mx-auto shadow-lg"
                    />

                    <h1 class="text-2xl sm:text-3xl font-extrabold">Hugo Alliaume</h1>

                    <div>
                        <p>Développeur web full-stack passionné, et contributeur open-source.</p>
                    </div>

                    <ul class="flex flex-col gap-x-2 gap-y-0.5">
                        {% for network in [
                            { name: 'Contact', href: 'mailto:hugo@alliau.me', icon: 'bi:envelope', label: 'hugo[at]alliau.me' },
                            { name: 'GitHub', href: 'https://github.com/Kocal', icon: 'bi:github', label: '@Kocal' },
                            { name: 'LinkedIn', href: 'https://www.linkedin.com/in/%F0%9F%9A%B4-hugo-alliaume-34b475166/', icon: 'bi:linkedin', label: 'Hugo Alliaume' },
                            { name: 'X (Twitter)', href: 'https://twitter.com/HugoAlliaume', icon: 'bi:twitter-x', label: '@HugoAlliaume' },
                            { name: 'Mastodon', href: 'https://mastodon.social/@Kocal', icon: 'bi:mastodon', label: '@Kocal' },
                        ] %}
                            <li>
                                <a href="{{ network.href }}" title="{{ network.name }}" class="hover:text-primary-700">
                                    <twig:UX:Icon :name="network.icon" class="inline mr-1" width="1.2em" height="1.2em" />
                                    <span>{{ network.label }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </twig:Card>

            <twig:Card class="p-2 sm:p-4">

                <h2 class="text-xl sm:text-2xl font-bold mb-4">Skills</h2>

                <ul class="flex flex-wrap gap-2">
                    {% for skill in [
                        'PHP', 'Symfony',
                        'JavaScript', 'TypeScript', 'Vue',
                        'Tests automatisés', 'Cypress', 'PHPUnit',
                        'CI & CD', 'DevOps',
                        'SOLID', 'Bonnes pratiques',
                        'Webperfs back & front',
                        'Technique', 'Leadership'
                    ] %}
                        <li>
                            <twig:Badge class="block" size="sm" color="gray">
                                {{ skill }}
                            </twig:Badge>
                        </li>
                    {% endfor %}
                </ul>
            </twig:Card>
        </div>

        <div class="flex flex-col gap-2 sm:gap-4">
            <twig:Card class="p-2 sm:p-4">
                <h2 class="text-xl sm:text-2xl font-bold mb-4">
                    Expériences professionnelles
                </h2>

                <div class="flex flex-col gap-4 sm:gap-5">
                    {% for professional_experience in professional_experiences %}
                        <section>
                            <header>
                                <span class="block text-xl sm:text-2xl font-bold"> 
                                    <a href="{{ professional_experience.url }}" rel="noreferrer noopener">
                                        {{ professional_experience.company }}
                                    </a>
                                    <small>
                                        &bullet; {{ professional_experience.jobName }}
                                    </small>
                                </span>

                                <span class="uppercase text-sm font-bold">
                                    <time datetime="{{ professional_experience.startDate|date }}">{{ professional_experience.startDate|format_datetime(pattern='MMM yyyy', locale='fr') }}</time>
                                    -
                                    {% if professional_experience.endDate is null %}
                                        <span>Présent</span>
                                    {% else %}
                                        <time datetime="{{ professional_experience.endDate|date }}">{{ professional_experience.endDate|format_datetime(pattern='MMM yyyy', locale='fr') }}</time>
                                    {% endif %}
                                </span>
                            </header>

                            <div class="my-2">
                                {{ professional_experience.description|nl2br }}
                            </div>

                            <footer>
                                <ul class="flex flex-wrap gap-2">
                                    {% for badge in professional_experience.badges %}
                                        <li>
                                            <twig:Badge class="block" size="sm" color="gray">
                                                {{ badge }}
                                            </twig:Badge>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </section>

                        {% if not loop.last %}
                            <twig:ListItemSeparator />
                        {% endif %}
                    {% endfor %}
                </div>
            </twig:Card>

            <twig:Card class="p-2 sm:p-4">

                <h2 class="text-xl sm:text-2xl font-bold mb-4">Projets</h2>

                <div class="grid sm:grid-cols-2 gap-3">
                    {% for project in projects %}
                        <div class="flex flex-col gap-2">
                            <header>
                                <h3 class="text-xl sm:text-2xl font-bold">
                                    <a href="{{ project.url }}">{{ project.name }}</a>
                                </h3>
                                <span class="uppercase text-sm font-bold">{{ project.date|date('Y') }}</span>
                            </header>

                            <div>
                                {{ project.description }}
                            </div>

                            <footer>
                                <ul class="flex flex-wrap gap-2">
                                    {% for tech in project.techStack %}
                                        <li>
                                            <twig:Badge class="block" size="sm" color="gray">
                                                {{ tech }}
                                            </twig:Badge>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </div>
                    {% endfor %}
                </div>
            </twig:Card>
        </div>

    </main>
{% endblock %}
