{% extends 'base.html.twig' %}

{% block title %}CV de Hugo Alliaume, développeur web full-stack.{% endblock %}

{% block seo %}
    <meta name="description" content="CV de Hugo Alliaume, développeur web full-stack passionné, et contributeur open-source.">
{% endblock %}

{% block main %}
    <main class="container mx-auto p-2 sm:py-4 print:p-0 max-w-screen-xl grid grid-cols-1 sm:grid-cols-[256px_1fr] print:grid-cols-[200px_1fr] gap-2 sm:gap-4 print:gap-2">
        <div class="flex flex-col gap-2 sm:gap-4 print:gap-2">
            <twig:Card class="p-2 sm:p-3 flex print:shadow-none print:border">
                <div class="flex-1 flex flex-col justify-between gap-2">
                    <img
                        src="{{ asset('images/hugo-alliaume.jpeg') }}"
                        width="130"
                        height="130"
                        decoding="async"
                        loading="lazy"
                        alt="Hugo Alliaume"
                         class="rounded-full mx-auto shadow-lg print:size-20 print:shadow-none"
                    />

                    <h1 class="text-2xl sm:text-3xl print:text-xl font-extrabold tracking-tight">Hugo Alliaume</h1>

                    <div class="text-sm">
                        <p>Développeur web full-stack, contributeur open-source, et Symfony UX Core Team</p>
                    </div>

                    <twig:Divider />

                    <ul class="flex print:flex-col gap-y-0.5 justify-around text-sm">
                        {% for network in [
                            {title: 'Email', href: 'mailto:hugo@alliau.me', icon: 'bi:envelope', text: 'hugo[at]alliau.me', class: 'hover:text-primary-700 dark:hover:text-slate-400'},
                            {title: 'LinkedIn', href: 'https://www.linkedin.com/in/%F0%9F%9A%B4-hugo-alliaume-34b475166/', icon: 'bi:linkedin', text: 'Hugo Alliaume', class: 'hover:text-linkedin'},
                            {title: 'GitHub', href: 'https://github.com/Kocal', icon: 'bi:github', text: '@Kocal', class: 'hover:text-github'},
                            {title: 'X (Twitter)', href: 'https://twitter.com/HugoAlliaume', icon: 'bi:twitter', text: '@HugoAlliaume', class: 'hover:text-twitter'},
                            {title: 'Bluesky', href: 'https://bluesky.dev/hugo.alliau.me', icon: 'simple-icons:bluesky', text: 'hugo.alliau.me', class: 'hover:text-bsky'},
                            {title: 'Mastodon', href: 'https://mastodon.social/@Kocal', icon: 'bi:mastodon', text: '@Kocal', class: 'hover:text-mastodon'},
                        ] %}
                            <li>
                                <a href="{{ network.href }}" title="{{ network.title }}" class="print:flex items-center gap-1 {{ network.class }} transition-colors">
                                    <twig:UX:Icon :name="network.icon" width="1.2em" height="1.2em" />
                                    <span class="screen:hidden">{{ network.text }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </twig:Card>

            <twig:Card class="p-2 sm:p-3 print:shadow-none print:border">

                <h2 class="text-2xl sm:text-3xl print:text-xl font-bold mb-4 print:mb-2 tracking-tight">Skills</h2>

                <div class="flex flex-col gap-3 print:gap-1">
                    {% for skill_group_name, skills_by_group in skills %}
                        <div>
                            <h3 class="font-bold uppercase text-sm mb-1">
                                {{ skill_group_name }}
                            </h3>
                            <p class="text-sm">
                                {% for skill in skills_by_group %}
                                    {{ skill }}{{ not loop.last ? ', ' : '.' }}
                                {% endfor %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </twig:Card>
        </div>

        <div class="flex flex-col gap-2 sm:gap-4">
            <twig:Card class="p-2 sm:p-3 print:shadow-none print:border">
                <h2 class="text-2xl sm:text-3xl print:text-xl font-bold mb-4 print:mb-2 tracking-tight">
                    Expériences professionnelles
                </h2>

                <div class="flex flex-col gap-4 sm:gap-5 print:gap-2">
                    {% for professional_experience in professional_experiences %}
                        <section>
                            <header>
                                <span class="block text-xl sm:text-2xl print:text-lg font-bold tracking-tight">
                                    {{ professional_experience.jobName }}
                                </span>

                                <a href="{{ professional_experience.url }}" rel="noreferrer noopener" class=" hover:text-primary-700 dark:hover:text-slate-400 transition-colors font-bold">
                                    {{ professional_experience.company }}
                                </a>
                                &bullet;
                                <span class="uppercase text-sm font-bold">
                                    <time datetime="{{ professional_experience.startDate|date }}">{{ professional_experience.startDate|format_datetime(pattern: 'MMM yyyy', locale: 'fr') }}</time>
                                    &rightarrow;
                                    {% if professional_experience.endDate is null %}
                                        <span>Présent</span>
                                    {% else %}
                                        <time datetime="{{ professional_experience.endDate|date }}">{{ professional_experience.endDate|format_datetime(pattern: 'MMM yyyy', locale: 'fr') }}</time>
                                    {% endif %}
                                </span>
                            </header>

                            <div class="my-1 print:text-sm">
                                {{ professional_experience.description|nl2br }}
                            </div>

                            <footer class="print:hidden">
                                <ul class="flex flex-wrap gap-1">
                                    {% for badge in professional_experience.badges %}
                                        <li>
                                            <twig:Badge class="block" class="print:hidden-sm">{{ badge }}</twig:Badge>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </section>

                        {% if not loop.last %}
                            <twig:Divider class="print:hidden" />
                        {% endif %}
                    {% endfor %}
                </div>
            </twig:Card>
        </div>

        <twig:Card class="col-span-full p-2 sm:p-3 print:hidden">
            <h2 class="text-2xl sm:text-3xl font-bold mb-4 tracking-tight">Projets</h2>

            <div class="grid sm:grid-cols-2">
                {% for project in projects %}
                    <div class="flex flex-col gap-2 py-3 {{ loop.index is even ? 'pl-3' : 'pr-3' }}">
                        <header>
                            <h3 class="text-xl sm:text-2xl font-bold tracking-tight">
                                <a href="{{ project.url }}">{{ project.name }}</a>
                            </h3>
                            <span class="uppercase text-sm font-bold">{{ project.date|date('Y') }}</span>
                        </header>

                        <p>
                            {{ project.description }}
                        </p>

                        <footer>
                            <ul class="flex flex-wrap gap-1">
                                {% for tech in project.techStack %}
                                    <li>
                                        <twig:Badge class="block" size="sm" color="gray">
                                            {{ tech }}
                                        </twig:Badge>
                                    </li>
                                {% endfor %}
                            </ul>
                        </footer>
                    </div>
                {% endfor %}
            </div>
        </twig:Card>
    </main>
{% endblock %}
