{% extends 'base.html.twig' %}

{% block title %}CV &bullet; Hugo Alliaume{% endblock %}

{% block seo %}
    <meta name="description" content="CV de Hugo Alliaume, développeur web full-stack.">
{% endblock %}

{% block main %}
    <main class="container mx-auto p-2 max-w-screen-lg flex flex-col gap-2 sm:gap-4">
        <section>
            <twig:Card class="p-2 sm:p-4 flex">
                <div class="flex-1">
                    <h1 class="text-3xl sm:text-4xl font-extrabold mb-5">Hugo Alliaume</h1>

                    <div>
                        <p>Développeur web full-stack passionné et contributeur open-source</p>
                        <a href="https://www.google.com/maps/place/Villefranche-sur-Saône+France"
                           class="inline-flex gap-x-2">
                            <twig:UX:Icon name="bi:globe" height="1.5em" width="1.5em"/>
                            Villefranche-sur-Saône, France
                        </a>
                    </div>

                    <ul class="flex gap-x-2">
                        <li>
                            <a href="mailto:hugo@alliau.me" title="Contact">
                                <twig:UX:Icon name="bi:envelope" height="1.5em" width="1.5em"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Kocal" title="GitHub">
                                <twig:UX:Icon name="bi:github" height="1.5em" width="1.5em"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/%F0%9F%9A%B4-hugo-alliaume-34b475166/"
                               title="LinkedIn">
                                <twig:UX:Icon name="bi:linkedin" height="1.5em" width="1.5em"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/HugoAlliaume" title="X (Twitter)">
                                <twig:UX:Icon name="bi:twitter-x" height="1.5em" width="1.5em"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/HugoAlliaume" title="Mastodon">
                                <twig:UX:Icon name="bi:mastodon" height="1.5em" width="1.5em"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <img
                            src="{{ asset('images/hugo-alliaume.jpeg') }}"
                            width="200"
                            height="200"
                            decoding="async"
                            loading="lazy"
                            alt="Hugo Alliaume"
                            class="rounded-full shadow-lg"
                    />
                </div>
            </twig:Card>
        </section>

        <section>
            <twig:Card class="p-2 sm:p-4">
                <h2 class="text-2xl sm:text-3xl font-bold mb-4">
                    Expériences professionnelles
                </h2>

                <div class="flex flex-col gap-4">
                    {% for professional_experience in professional_experiences %}
                        <section>
                            <header>
                                <span class="block text-xl sm:text-2xl font-bold"> 
                                    <a href="{{ professional_experience.url }}" rel="noreferrer noopener">
                                        {{ professional_experience.company }}
                                    </a>
                                    <small>
                                        &bullet; {{ professional_experience.jobName }}
                                    </small>
                                </span>

                                <span class="uppercase text-sm font-bold">
                                    <time datetime="{{ professional_experience.startDate|date }}">{{ professional_experience.startDate|format_datetime('medium', 'none') }}</time>
                                    -
                                    {% if professional_experience.endDate is null %}
                                        <span>Présent</span>
                                    {% else %}
                                        <time datetime="{{ professional_experience.endDate|date }}">{{ professional_experience.endDate|format_datetime('medium', 'none') }}</time>
                                    {% endif %}
                                </span>
                            </header>

                            <div class="my-2">
                                {{ professional_experience.description|nl2br }}
                            </div>

                            <footer>
                                <ul class="flex flex-wrap gap-2">
                                    {% for badge in professional_experience.badges %}
                                        <li>
                                            <twig:Badge class="block" size="sm">
                                                {{ badge }}
                                            </twig:Badge>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </section>
                    {% endfor %}
            </twig:Card>
        </section>

        <section>
            <twig:Card class="p-2 sm:p-4">

                <h2 class="text-2xl sm:text-3xl font-bold mb-4">Skills</h2>

                <ul class="flex flex-wrap gap-2">
                    <li><twig:Badge class="block">PHP</twig:Badge></li>
                    <li><twig:Badge class="block">Symfony</twig:Badge></li>
                    <li><twig:Badge class="block">JavaScript</twig:Badge></li>
                    <li><twig:Badge class="block">TypeScript</twig:Badge></li>
                    <li><twig:Badge class="block">Vue.js</twig:Badge></li>
                    <li><twig:Badge class="block">Performances web back &amp; front</twig:Badge></li>
                    <li><twig:Badge class="block">Tests automatisés</twig:Badge></li>
                    <li><twig:Badge class="block">Cypress</twig:Badge></li>
                    <li><twig:Badge class="block">Bonnes pratiques</twig:Badge></li>
                    <li><twig:Badge class="block">CI &amp; CD</twig:Badge></li>
                </ul>
            </twig:Card>
        </section>

        <section>
            <twig:Card class="p-2 sm:p-4">

                <h2 class="text-2xl sm:text-3xl font-bold mb-4">Projets</h2>

                <div class="grid sm:grid-cols-3 gap-3">
                    {% for project in projects %}
                        <div>
                            <header>
                                <h3 class="text-xl sm:text-2xl font-bold">
                                    <a href="{{ project.url }}">{{ project.name }}</a>
                                </h3>
                                <span class="uppercase text-sm font-bold">{{ project.date|date('Y') }}</span>
                            </header>

                            <div class="my-2">
                                {{ project.description }}
                            </div>

                            <footer>
                                <ul class="flex flex-wrap gap-2">
                                    {% for tech in project.techStack %}
                                        <li>
                                            <twig:Badge class="block" size="sm">
                                                {{ tech }}
                                            </twig:Badge>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </div>
                    {% endfor %}
                </div>
            </twig:Card>
        </section>
    </main>
{% endblock %}
