{% extends 'base.html.twig' %}

{% block title %}CV &bullet; Hugo Alliaume{% endblock %}

{% block seo %}
    <meta name="description" content="CV de Hugo Alliaume, développeur web full-stack.">
{% endblock %}

{% block main %}
    <main class="container mx-auto p-2 max-w-screen-xl grid grid-cols-1 sm:grid-cols-[256px_1fr] gap-2 sm:gap-4">
        <div class="flex flex-col gap-2 sm:gap-4">
            <twig:Card class="p-2 sm:p-4 flex">
                <div class="flex-1 flex flex-col justify-between gap-2">
                    <img
                        src="{{ asset('images/hugo-alliaume.jpeg') }}"
                        width="130"
                        height="130"
                        decoding="async"
                        loading="lazy"
                        alt="Hugo Alliaume"
                        class="rounded-full mx-auto shadow-lg"
                    />

                    <h1 class="text-2xl sm:text-3xl font-extrabold">Hugo Alliaume</h1>

                    <div>
                        <p>Développeur web full-stack passionné, et contributeur open-source.</p>
                    </div>

                    <ul class="flex gap-x-2">
                        <li>
                            <twig:Link href="mailto:hugo@alliau.me" title="Contact">
                                <twig:UX:Icon name="bi:envelope" height="1.5em" width="1.5em"/>
                            </twig:Link>
                        </li>
                        <li>
                            <twig:Link href="https://github.com/Kocal" title="GitHub">
                                <twig:UX:Icon name="bi:github" height="1.5em" width="1.5em"/>
                            </twig:Link>
                        </li>
                        <li>
                            <twig:Link href="https://www.linkedin.com/in/%F0%9F%9A%B4-hugo-alliaume-34b475166/" title="LinkedIn">
                                <twig:UX:Icon name="bi:linkedin" height="1.5em" width="1.5em"/>
                            </twig:Link>
                        </li>
                        <li>
                            <twig:Link href="https://twitter.com/HugoAlliaume" title="X (Twitter)">
                                <twig:UX:Icon name="bi:twitter-x" height="1.5em" width="1.5em"/>
                            </twig:Link>
                        </li>
                        <li>
                            <twig:Link href="https://twitter.com/HugoAlliaume" title="Mastodon">
                                <twig:UX:Icon name="bi:mastodon" height="1.5em" width="1.5em"/>
                            </twig:Link>
                        </li>
                    </ul>
                </div>
            </twig:Card>

            <twig:Card class="p-2 sm:p-4">

                <h2 class="text-xl sm:text-2xl font-bold mb-4">Skills</h2>

                <ul class="flex flex-wrap gap-2">
                    <li><twig:Badge class="block" size="sm" color="gray">PHP</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">Symfony</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">JavaScript</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">TypeScript</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">Vue.js</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">Tests automatisés</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">Cypress</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">CI &amp; CD</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">SOLID</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">Bonnes pratiques</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">Webperfs back &amp; front</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">Technique</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">Leadership</twig:Badge></li>
                    <li><twig:Badge class="block" size="sm" color="gray">DevOps</twig:Badge></li>
                </ul>
            </twig:Card>
        </div>

        <div class="flex flex-col gap-2 sm:gap-4">
            <twig:Card class="p-2 sm:p-4">
                <h2 class="text-xl sm:text-2xl font-bold mb-4">
                    Expériences professionnelles
                </h2>

                <div class="flex flex-col gap-4 sm:gap-5">
                    {% for professional_experience in professional_experiences %}
                        <section>
                            <header>
                                <span class="block text-xl sm:text-2xl font-bold"> 
                                    <a href="{{ professional_experience.url }}" rel="noreferrer noopener">
                                        {{ professional_experience.company }}
                                    </a>
                                    <small>
                                        &bullet; {{ professional_experience.jobName }}
                                    </small>
                                </span>

                                <span class="uppercase text-sm font-bold">
                                    <time datetime="{{ professional_experience.startDate|date }}">{{ professional_experience.startDate|format_datetime('medium', 'none', locale='fr') }}</time>
                                    -
                                    {% if professional_experience.endDate is null %}
                                        <span>Présent</span>
                                    {% else %}
                                        <time datetime="{{ professional_experience.endDate|date }}">{{ professional_experience.endDate|format_datetime('medium', 'none', locale='fr') }}</time>
                                    {% endif %}
                                </span>
                            </header>

                            <div class="my-2">
                                {{ professional_experience.description|nl2br }}
                            </div>

                            <footer>
                                <ul class="flex flex-wrap gap-2">
                                    {% for badge in professional_experience.badges %}
                                        <li>
                                            <twig:Badge class="block" size="sm" color="gray">
                                                {{ badge }}
                                            </twig:Badge>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </section>

                        {% if not loop.last %}
                            <twig:ListItemSeparator />
                        {% endif %}
                    {% endfor %}
                </div>
            </twig:Card>

            <twig:Card class="p-2 sm:p-4">

                <h2 class="text-xl sm:text-2xl font-bold mb-4">Projets</h2>

                <div class="grid sm:grid-cols-2 gap-3">
                    {% for project in projects %}
                        <div class="flex flex-col gap-2">
                            <header>
                                <h3 class="text-xl sm:text-2xl font-bold">
                                    <a href="{{ project.url }}">{{ project.name }}</a>
                                </h3>
                                <span class="uppercase text-sm font-bold">{{ project.date|date('Y') }}</span>
                            </header>

                            <div>
                                {{ project.description }}
                            </div>

                            <footer>
                                <ul class="flex flex-wrap gap-2">
                                    {% for tech in project.techStack %}
                                        <li>
                                            <twig:Badge class="block" size="sm" color="gray">
                                                {{ tech }}
                                            </twig:Badge>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </div>
                    {% endfor %}
                </div>
            </twig:Card>
        </div>

    </main>
{% endblock %}
