{% extends 'blog/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('github-light.css') }}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{{ asset('github-dark-dimmed.css') }}" media="(prefers-color-scheme: dark)">
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% set post_url = url(app.current_route, app.current_route_parameters) %}

{% block seo %}
    <meta name="description" content="{{ post.description }}">
    <meta property="og:url" content="{{ post_url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:image" content="https://open-graph-image-generator.kocal.fr/image?url={{ post_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ app.request.host }}">
    <meta property="twitter:url" content="{{ post_url }}">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.description }}">
    <meta property="twitter:image" content="https://open-graph-image-generator.kocal.fr/image?url={{ post_url }}">
{% endblock %}

{% block json_ld %}
    {{ parent() }}
    {{ json_ld({
        '@context': 'https://schema.org',
        '@type': 'TechArticle',
        headline: post.title,
        abstract: post.description,
        datePublished: post.publishedAt|date('c'),
        author: {
            '@id': absolute_url('/#me'),
        },
        publisher: {
            '@id': absolute_url('/#me'),
        },
        keywords: post.tags,
        ...(post.seo.dependencies ? {
            dependencies: post.seo.dependencies,
        } : {}),
        ...(post.seo.proficiencyLevel ? {
            proficiencyLevel: post.seo.proficiencyLevel,
        } : {}),
        image: {
            '@type': 'ImageObject',
            url: 'https://open-graph-image-generator.kocal.fr/image?url=' ~ post_url,
            width: 1200,
            height: 630,
        },
    }) }}
{% endblock %}

{% block main %}
<div class="container mx-auto p-2 sm:max-w-screen-xl sm:grid sm:grid-cols-12 gap-2">
    <main class="max-w-full sm:col-span-9">
        <article>
            <twig:Card class="p-2 sm:p-4">
                <header>
                    <h1 class="text-3xl sm:text-4xl font-extrabold mb-5">
                        {{ post.title }}
                    </h1>

                    <twig:Blog:PostMeta :post="post" tag-size="regular"/>
                </header>

                <div class="bg-primary-100 my-2 sm:my-3" style="height: 2px"></div>

                <section class="prose dark:prose-invert prose-headings:relative max-w-none">
                    {{ rendered_content|raw }}
                </section>
            </twig:Card>

            {# TODO: comments #}
            {# <footer> #}
            {# <twig:Card> #}
            {# ... #}
            {# </twig:Card> #}
            {# </footer> #}
        </article>
    </main>

    <aside class="hidden sm:block sm:col-span-3">
        <twig:Card class="p-2 sticky top-16">
            <h2 class="text-2xl sm:text-3xl font-bold mb-4">
            Table of contents
            </h2>

            <div class="prose dark:prose-invert prose-sm prose-ul:pl-4 prose-ul:m-0 prose-li:mx-0 prose-li:my-1 prose-li:p-0">
                {{ rendered_toc|raw }}
            </div>
        </twig:Card>
    </aside>
</div>
{% endblock %}
