<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="ltr" style="scroll-padding-top: 64px; scrollbar-gutter: stable">
    <head>
        <meta charset="UTF-8">
        <title>{{ block('title') }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="preload" href="{{ preload(asset('vendor/inter-ui/variable/InterVariable.woff2'), {as: 'font', type: 'font/woff2', crossorigin: true}) }}" as="font" type="font/woff2" crossorigin>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}

            <script async src="{{ dns_prefetch('https://www.googletagmanager.com') }}/gtag/js?id=G-Z8KN175TJZ"></script>
            <script>window.dataLayer=window.dataLayer||[],window.gtag=function(){dataLayer.push(arguments)},gtag("js",new Date),gtag("config","G-Z8KN175TJZ");</script>
        {% endblock %}

        <meta name="color-scheme" content="dark light">
        <meta name="view-transition" content="same-origin" />

        <link rel="icon" type="image/svg+xml" href="{{ asset('images/icons/favicon.svg') }}">
        <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon-32x32.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/icons/apple-touch-icon.png') }}">
        <link rel="canonical" href="{{ absolute_url(app.request.pathInfo) }}">

        <link rel="sitemap" type="application/xml" href="/sitemap.xml">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path(constant('App\\Blog\\Domain\\Route::RSS').value) }}">

        {% block seo %}{% endblock %}

        {% block json_ld %}
            {{ json_ld({
                '@context': "https://schema.org",
                '@type': "WebSite",
                name: "Hugo Alliaume's Website",
                url: url(constant('App\\Blog\\Domain\\Route::HOME').value),
                publisher: {
                    '@id': absolute_url('/#me'),
                }
            }) }}

            {{ json_ld({
                '@id': absolute_url('/#me'),
                '@type': 'Person',
                name: 'Hugo Alliaume',
                url: absolute_url('/'),
                jobTitle: 'Senior Software Developer & Expert Technique',
                email: 'hugo@alliau.me',
                sameAs: [
                    'https://github.com/Kocal',
                    'https://twitter.com/HugoAlliaume',
                    'https://mastodon.social/@Kocal',
                    'https://www.linkedin.com/in/%F0%9F%9A%B4-hugo-alliaume-34b475166/',
                ],
                publishingPrinciples: [
                    url(constant('App\\Blog\\Domain\\Route::HOME').value),
                ]
            }) }}
        {% endblock %}
    </head>
    <body class="antialiased text-slate-700 dark:text-slate-200 dark:bg-slate-900 min-h-dvh flex flex-col">
        <img src="{{ asset('images/bg.svg') }}" class="print:hidden fixed -z-10 w-full max-h-50 m-10 object-contain blur-2xl opacity-10 animate-heartbeat" />
        {% block body %}
            <twig:AppHeader/>

            <div class="flex flex-1">
                {% block main %}{% endblock %}
            </div>

            <twig:AppFooter float="{{ footer_float|default(false) }}"/>
        {% endblock %}
    </body>
</html>
