<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ block('title') }} </title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}

            <script async src="{{ dns_prefetch('https://www.googletagmanager.com') }}/gtag/js?id=G-Z8KN175TJZ"></script>
            <script>window.dataLayer=window.dataLayer||[],window.gtag=function(){dataLayer.push(arguments)},gtag("js",new Date),gtag("config","G-Z8KN175TJZ");</script>
        {% endblock %}

        <link rel="icon" type="image/svg+xml" href="{{ asset('images/icons/favicon.svg') }}">
        <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon-32x32.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/icons/apple-touch-icon.png') }}">
        <link rel="canonical" href="{{ app.request.pathInfo }}">

        <link rel="sitemap" type="application/xml" href="/sitemap.xml">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path(constant('App\\Domain\\Routing\\ValueObject\\RouteName::BLOG_RSS')) }}">

        {% block seo %}{% endblock %}

        {% block json_ld %}
            {{ json_ld({
                '@context': "https://schema.org",
                '@type': "WebSite",
                name: "Hugo Alliaume's Website",
                url: url(constant('App\\Domain\\Routing\\ValueObject\\RouteName::HOME')),
                publisher: {
                    '@id': absolute_url('/#me'),
                }
            }) }}

            {{ json_ld({
                '@id': absolute_url('/#me'),
                '@type': 'Person',
                name: 'Hugo Alliaume',
                url: absolute_url('/'),
                jobTitle: 'Senior Software Developer & Expert Technique',
                email: 'hugo@alliau.me',
                sameAs: [
                    'https://github.com/Kocal',
                    'https://twitter.com/HugoAlliaume',
                    'https://mastodon.social/@Kocal',
                    'https://www.linkedin.com/in/%F0%9F%9A%B4-hugo-alliaume-34b475166/',
                ],
                publishingPrinciples: [
                    url(constant('App\\Domain\\Routing\\ValueObject\\RouteName::BLOG_HOME')),
                ]
            }) }}
        {% endblock %}
    </head>
    <body class="antialiased text-slate-600 bg-sky-50 h-dvh">
        {% block body %}
            <header class="bg-sky-600 text-sky-50">
                <div class="container max-w-screen-lg mx-auto px-2 flex items-center gap-x-2 sm:gap-x-5">
                    <a href="{{ path(constant('App\\Domain\\Routing\\ValueObject\\RouteName::HOME')) }}" class="text-lg sm:text-2xl font-bold my-3">
                        Hugo Alliaume
                    </a>

                    {{ knp_menu_render('main', {
                        template: 'menu/main.html.twig',
                    }) }}

                    <ul class="flex sm:gap-x-1">
                        <li>
                            <a href="https://github.com/Kocal" class="block text-md sm:text-lg p-2 rounded-lg hover:bg-sky-700" title="GitHub">
                                <twig:UX:Icon name="bi:github" aria-label="GitHub" />
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/HugoAlliaume" class="block text-md sm:text-lg p-2 rounded-lg hover:bg-sky-700" title="Twitter">
                                <twig:UX:Icon name="bi:twitter-x" aria-label="X (Twitter)" />
                            </a>
                        </li>
                        <li>
                            <a href="https://mastodon.social/@Kocal" class="block text-md sm:text-lg p-2 rounded-lg hover:bg-sky-700" title="Mastodon">
                                <twig:UX:Icon name="bi:mastodon" aria-label="Mastodon" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/%F0%9F%9A%B4-hugo-alliaume-34b475166/" class="block text-md sm:text-lg p-2 rounded-lg hover:bg-sky-700" title="LinkedIn">
                                <twig:UX:Icon name="bi:linkedin" aria-label="LinkedIn" />
                            </a>
                        </li>
                    </ul>
                </div>
            </header>

            {% block main %}{% endblock %}

        {% endblock %}
    </body>
</html>
