<div{{ attributes }} class="flex flex-col gap-2">
    <div class="flex items-center gap-x-1">
        <twig:UX:Icon name="flowbite:clock-outline" aria-label="Publication date" class="shrink-0"/>

        <time datetime="{{ post.publishedAt|date('c') }}" class="uppercase text-sm font-bold">
            {{ post.publishedAt|format_datetime('long', 'none') }}
        </time>
    </div>

    {% if post.tags is not empty %}
        <ul class="flex flex-row flex-wrap gap-1">
            {% for tag in post.tags %}
                <li>
                    <twig:Badge size="sm" href="{{ path(constant('App\\Blog\\Domain\\Route::TAG_VIEW').value, {tag}) }}">
                        {{- tag -}}
                    </twig:Badge>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
