<div{{ attributes }}>
    <div>
        <p>
            <time datetime="{{ post.publishedAt|date('c') }}">
                {{ post.publishedAt|date('l, F j, Y') }}
            </time>
        </p>
    </div>

    {% if post.tags is not empty %}
        <div>
            {% for tag in post.tags %}
                <a href="{{ path(constant('App\\Domain\\Routing\\ValueObject\\RouteName::BLOG_TAG_VIEW'), { tag }) }}">
                    {{- tag -}}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>